.hero-body {
  background-color: #2e2f42;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-bg.jpg);
  max-width: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  row-gap: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  max-width: 216px;
  color: #ffffff;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .hero-body {
    max-width: 768px;
  }
  .hero-container {
    row-gap: 36px;
    padding: 0 16px;
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    line-height: 1.16667;
  }
}

@media screen and (min-width: 1158px) {
  .hero-body {
    max-width: 1440px;
    display: flex;
    justify-content: center;
  }
}