.hero-body {
  background-color: #2e2f42;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    image-set(
      url(../images/hero-bg-m.jpg) 1x,
      url(../images/hero-bg-m@2x.jpg) 2x
    );
  max-width: 320px;
  max-height: 432px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  row-gap: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  max-width: 216px;
  color: #ffffff;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}

@media (min-resolution: 2x) {
  .hero-body {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg-m@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-body {
    max-width: 768px;
    max-height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(
        url(../images/hero-bg-t.jpg) 1x,
        url(../images/hero-bg-t@2x.jpg) 2x
      );
  }
  .hero-container {
    row-gap: 36px;
    padding: 0 16px;
  }
  .hero-title {
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2x) {
  .hero-body {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg-t@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero-body {
    max-width: 1440px;
    max-height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      image-set(url(../images/hero-bg.jpg) 1x, url(../images/hero-bg@2x.jpg) 2x);
    display: flex;
    justify-content: center;
  }
  .hero-container {
    row-gap: 48px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 2x) {
  .hero-body {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg@2x.jpg);
  }
}